django
django-environ
djangorestframework
django-cors-headers
django-filter
django-autoslug
django-countries
django-phonenumber-field
phonenumbers
drf-yasg
argon2-cffi
django-celery-email
django-allauth==0.52.0
djangorestframework-simplejwt==5.2.2
dj-rest-auth==3.0.0
whitenoise==5.3.0

flake8==6.0.0
black==23.1.0
isort==5.12.0
